body {
  background: lightgray;
}

nav {
  background: black;
  color: white;
  padding: 0.8em;
  margin: 0em;
}

nav a {
  color: white;
}

nav a:hover {
  color: white;
  box-shadow: 0 0 12px white;
}

.header {
  font-size: 4em;
  text-align: center;
}

.basic_info {
  font-size: 2em;
}

.full {
  font-size: 2em;
}
